/* CSS Document */
body{
  background-color: rgb(255,255,204);
}

h1{
  font-size: 38px;
  opacity: 0.9;
  color: rgb(233,185,0);
  text-shadow: 2px 2px rgb(0,0,0);
  text-align: center;
  margin-top: -8px;
  padding-top: 45px;
}

a{
color: rgb(255,102,51);
text-shadow: 2px 2px 2px rgb(0,51,102);
text-decoration: none;
font-family: tahoma;
font-size: 20px;
margin-right: 15;
}

a:hover{
color: rgb(0,240,0) ;
}

#paticka{
  height: 80px;
  margin-top: 50px;
  font-size: 20px;
  text-align: center;
  text-shadow: 2px 2px 2px rgb(255,255,204);
  border: 2px solid rgb(255,255,204);
  border-radius: 8px;
  position: relative;
}



